workflows/data-pipeline.asl.json
{
  "Comment": "Crop classification data preparation pipeline: polygons -> bronze (Fargate Map) -> silver (Fargate Map) -> gold (SageMaker)",
  "StartAt": "CrawlPolygons",
  "States": {
    "CrawlPolygons": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_crawl_polygons_arn}",
        "Payload": {
          "action": "crawl_polygons",
          "municipios.$": "$.municipios",
          "periodos.$": "$.periodos",
          "services.$": "$.services",
          "batch_size.$": "$.batch_size",
          "silver_batch_size.$": "$.silver_batch_size"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "RunBronzeMap"
    },

    "RunBronzeMap": {
      "Type": "Map",
      "ItemsPath": "$.Payload.bronze_batches",
      "MaxConcurrency": 10,
      "ResultPath": "$.bronze_results",
      "Iterator": {
        "StartAt": "RunBronzeTask",
        "States": {
          "RunBronzeTask": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "Cluster": "${ecs_cluster_arn}",
              "TaskDefinition": "${bronze_task_family}",
              "CapacityProviderStrategy": [
                {
                  "CapacityProvider": "FARGATE_SPOT",
                  "Weight": 1,
                  "Base": 1
                }
              ],
              "PlatformVersion": "1.4.0",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets": ${subnet_ids_json},
                  "SecurityGroups": ["${security_group_id}"],
                  "AssignPublicIp": "ENABLED"
                }
              },
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "processing",
                    "Environment": [
                      { "Name": "S3_BUCKET", "Value": "${s3_bucket}" },
                      { "Name": "PROCESSING_STEP", "Value": "bronze" },
                      { "Name": "POLYGONS_KEY", "Value.$": "$.polygons_key" },
                      { "Name": "OFFSET", "Value.$": "$.offset" },
                      { "Name": "LIMIT", "Value.$": "$.limit" },
                      { "Name": "GIT_SHA", "Value": "${git_sha}" }
                    ]
                  }
                ]
              }
            },
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 30,
                "MaxAttempts": 2,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.error",
                "Next": "BronzeTaskFailed"
              }
            ],
            "End": true
          },
          "BronzeTaskFailed": {
            "Type": "Pass",
            "Result": { "status": "failed" },
            "End": true
          }
        }
      },
      "Next": "RunSilverMap"
    },

    "RunSilverMap": {
      "Type": "Map",
      "ItemsPath": "$.Payload.silver_batches",
      "MaxConcurrency": 10,
      "ResultPath": "$.silver_results",
      "Iterator": {
        "StartAt": "RunSilverTask",
        "States": {
          "RunSilverTask": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "Cluster": "${ecs_cluster_arn}",
              "TaskDefinition": "${silver_task_family}",
              "CapacityProviderStrategy": [
                {
                  "CapacityProvider": "FARGATE_SPOT",
                  "Weight": 1,
                  "Base": 1
                }
              ],
              "PlatformVersion": "1.4.0",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets": ${subnet_ids_json},
                  "SecurityGroups": ["${security_group_id}"],
                  "AssignPublicIp": "ENABLED"
                }
              },
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "processing",
                    "Environment": [
                      { "Name": "S3_BUCKET", "Value": "${s3_bucket}" },
                      { "Name": "PROCESSING_STEP", "Value": "silver" },
                      { "Name": "POLYGONS_KEY", "Value.$": "$.polygons_key" },
                      { "Name": "OFFSET", "Value.$": "$.offset" },
                      { "Name": "LIMIT", "Value.$": "$.limit" },
                      { "Name": "GIT_SHA", "Value": "${git_sha}" },
                      { "Name": "AREA_THRESHOLD_HA", "Value": "${area_threshold_ha}" },
                      { "Name": "CELL_SIZE_M", "Value": "${cell_size_m}" }
                    ]
                  }
                ]
              }
            },
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 30,
                "MaxAttempts": 2,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.error",
                "Next": "SilverTaskFailed"
              }
            ],
            "End": true
          },
          "SilverTaskFailed": {
            "Type": "Pass",
            "Result": { "status": "failed" },
            "End": true
          }
        }
      },
"Next": "RunGoldTask"
    },

    "RunGoldTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "Cluster": "${ecs_cluster_arn}",
        "TaskDefinition": "${gold_task_family}",
        "CapacityProviderStrategy": [
          {
            "CapacityProvider": "FARGATE_SPOT",
            "Weight": 1,
            "Base": 1
          }
        ],
        "PlatformVersion": "1.4.0",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ${subnet_ids_json},
            "SecurityGroups": ["${security_group_id}"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "processing",
              "Environment": [
                { "Name": "S3_BUCKET", "Value": "${s3_bucket}" },
                { "Name": "PROCESSING_STEP", "Value": "gold" },
                { "Name": "POLYGONS_KEY.$": "$.Payload.s3_key" },
                { "Name": "GIT_SHA", "Value": "${git_sha}" },
                { "Name": "FEATURE_GROUP_NAME", "Value": "${feature_group_name}" }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GoldTaskFailed"
        }
      ],
      "End": true
    },

    "GoldTaskFailed": {
      "Type": "Pass",
      "Result": { "status": "failed" },
      "End": true
    }
  }
}